

.textbox{
  
	display: inline;
	
  }
  .inputs{
  
	position: relative;
	margin: 3% auto 0;
	display: table;
	
  }
  .details{
height:30vh;
width:100%;
  }
  
  .route
  {   
	  height: 100%;
	  width: 100%;
	  border: 2px solid black;
	  padding: 5px;
	
  }
  .form-group{
	display: inline;
  }
  button
  {
	margin: 2%;
  }
  
  .btn{   
	padding: 0 2% auto;
	margin: 0 2%;
	width:100%;
  }
  
  .btn button{
	border-radius: 1.5cm;
	border: 2px solid rgba(30, 209, 140, 0.4);
	background: rgb(3, 247, 104, 0.5);
	width: 30%;
	margin: 1% auto;
	outline: none;
  }
  
  .ride, .share{
	height: 65vh;
	border: 1px solid rgba(30, 209, 140, 0.4);
	margin: 5px auto;
	overflow: auto;
	background: whitesmoke;
  }
 

/* *{
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
} */

/* body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #FAFAFA;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

/*- - - - - - C O N T A C T - C A R D S - - - - - */
.details{
	height: 50%;
	width:100%;
}
.card{
	
   height: auto;
	
	width: 300px; /* ⬅ Size - Small (width: 200px), Medium (width: 225px), Large (width: 250px) */
	overflow: hidden;
	background-color: #FFFFFF;
	border-radius: 10px;
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	text-align: center;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	.card:first-of-type{
		margin-right: 25px;
	}

	.card:hover{
		margin-top: -25px;
		box-shadow: 0 15px 20px rgba(0,0,0,0.2);
	}

	.head{
		height: 5%;
		width: 100%;
		background-color: #FAFAFA;
	}

	.upbtn,.delbtn{
		height: 5%;
		width: 30%;
		color: #212121;
	}

	.upbtn{
		background: seagreen;
	}
	.delbtn{
		background: red;
	}

.banner{
	height: 15%;
	width: 100%;
	padding-top: 35px;
	background-color: #FAFAFA;
	background-size: cover;
	background-position: center;
}

	.card:nth-child(1) .banner{
		/* ⬇ Photo, geordannatheartist.com */
		background-image: url("https://images.unsplash.com/photo-1533158326339-7f3cf2404354?ixlib=rb-1.2.1&auto=format&fit=crop&w=1004&q=80");
	}

.avatar{
	height: 100px;
	width: 100px;
	margin: auto;
	background-size: cover;
	background-position: center;
	background-color: #F1F1F1;
	border: 3px solid #FFFFFF;
	border-radius: 100%;
	box-shadow: 0 2px 2px rgba(0,0,0,0.1);
}
	.card:nth-child(1) .avatar{
		background-image: url("https://pbs.twimg.com/profile_images/1152340777382612992/A8GyrnBu_400x400.jpg");
	}

h3, a, i{
	font-family: 'Roboto', sans-serif;
	font-weight: lighter;
	-webkit-transition: .1s ease-in-out;
	transition: .1s ease-in-out;
}

	h3{
		margin-top: 20px;
		margin-bottom: 5px;
		font-size: 18px;
		color: #212121;
	}

	a{
		display: block;
		padding: 5px 0px;
		font-size: 14px;
		color: #9E9E9E;
		text-decoration: none;
	}

		a:hover{
			background-color: #FAFAFA;
			color: inherit;
		}

ul{
	margin-top: 10px;
	padding: 15px 0px;
	background-color: #FAFAFA;
}

	ul a{
		display: inline;
		margin-right: 10px;
	}

		ul a:last-of-type{
			margin-right: 0px;
		}

			ul a i:hover{
				transform: scale(1.5);
			}