<section id="team">
    <div class="container wow fadeInUp">
      <div class="section-header">
        <h3 class="section-title">Team</h3>
        <p class="section-description">WE have a small team of two members.</p>
      </div>
      <div class="row" style="margin: 20px 0">
        <div class="col-lg-6 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../assets/img/team-1.jpg" alt=""></div>
            <h4>Saurabh Singh Gariya</h4>
            
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-6">
          <div class="member">
            <div class="pic"><img src="../../assets/img/team-2.jpg" alt=""></div>
            <h4>Keshav Sharma</h4>
            
            <div class="social">
              <a href=""><i class="fa fa-twitter"></i></a>
              <a href=""><i class="fa fa-facebook"></i></a>
              <a href=""><i class="fa fa-google-plus"></i></a>
              <a href=""><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
        </div>

        
      </div>

    </div>
  </section><!-- #team -->
