<!--==========================
      About Us Section
    ============================-->
    <section id="about" style="margin-top: 10px">
        <div class="container">
          <div class="row about-container">
  
            <div class="col-lg-6 content order-lg-1 order-2">
              <h2 class="title">Why You Should Share?</h2>
              
  
              <div data-wow-delay="0.2s">
                <h4 class="title" style="color: #2dc997;">Save Money</h4>
                <p class="description">The most obvious reason to carpool is that you end up spending much less than you would by almost any other way to cover distance on your own. So you aren’t endlessly spending too much on a regular travel routine or shortening your travel budgets and plans.</p>
              </div><br>
  
              <div class="wow fadeInUp" data-wow-delay="0.2s">
                
                <h4 class="title" style="color: #2dc997;"> Greener</h4>
                <p class="description">While we are listing down the obvious, the second in line, must be the benefits to the environment that trod along the concept. Lesser fuel- Lesser Pollution-Lesser vehicles on  the road. You know how it’s spelt.</p>
              </div><br>
  
              <div class="wow fadeInUp" data-wow-delay="0.4s">
               
                <h4 class="title" style="color: #2dc997;">Safer</h4>
                <p class="description">Not only is travelling in groups generically safer than on your own, but with options like Driver and Passenger rating system, mobile and email verifications as well as ladies only rides, if you prefer to travel only with women on Tripda, carpooling is safer than it was last time you checked.</p>
              </div>
  
            </div>
  
            <div class="col-lg-6 background order-lg-2 order-1 wow fadeInRight"></div>
          </div>
  
        </div>
      </section><!-- #about -->